$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$color-primary: rgb(44, 119, 233);
$color-primary-dark: rgba(18, 33, 240, 0.6);
$color-background: rgb(197, 197, 197);
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
